/*Блок №1*/
.container {
  width: 1280px;
  margin: 0 auto;
  
  font-family: Arial;
}

.padding-site {
  padding: 50px;
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  background-color: #445162;
  
  color: #fff;
}

.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-header-wrp {
  width: 400px;
  float: left;
  
 
}

.main-header-title {
  display: block;
  margin: 0 0 20px 0;
  font-size: 45px;
  font-weight: bold;
  
}

.main-header-list {
  margin: 0;
  padding: 0 0px 0 25px;
  list-style-type: none;
}

.main-header-list li {
  position: relative;
  margin: 0 0 5px 0;
}

.main-header-list li:nth-child(4) {
  margin: 0;
}

.main-header-list li:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  position: absolute;
  top: -1px;
  left: -26px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Light_green_check.svg/768px-Light_green_check.svg.png');
  background-size: cover;
}

.main-header-photo {
  display: block;
  float: right;
  width: 469px;
  height: 214px;
  background-color: #fff;
  box-sizing: border-box;
  color: black;
}
/*Блок №2*/
.about-product {
    width: 100%;
}
.about-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.about-product-title {
  display: block;
  margin: 0 0 24px 0;
  font-size: 30px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.2;
}
.about-product-wrp {
  width: 649px;
  float: left;
}
.about-product-video {
    display: block;
    width: 430px;
    height: 245px;
    background-color: #445161;
    border: 1px solid;
    float: right;
}
/*Блок №3*/
.dignity {
  width: 100%;
  /* height: 300px; */
  padding: 50px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.dignity:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.dignity-title {
  display: block;
  margin: 0 0 24px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.2;
}

.dignity-list {
  width: 540px;
  margin: 0;
  padding: 0 0 0 46px;
  list-style-type: none;
  float: left;
 }

/*
.dignity-list:nth-child(3){
  float: right;
}
*/

.dignity-list-item {
  margin: 0 0 40px 0;
  position: relative;
}

/*
.dignity-list:nth-child(2) > .dignity-list-item:nth-child(3),
.dignity-list:nth-child(3) > .dignity-list-item:nth-child(3) {
  margin: 0;
}
*/

.dignity-list-item:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: -46px;
}
/*Блок №4 Скриншоты*/

.screenshots-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.screenshots-h2 {
  display: block;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 30px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.2;
}
.screenshots-figure {
    width: 50%;
    margin: 0 0 0 0;
}

/*
.screenshots-figure:nth-child(2n) {
    margin-top: 10px;
} 
*/

.screenshots-figure-logo {
    display: block;
    background-color: #445161;
    float: left;
}
.screenshots-figcaption {
    padding: 5px 10px 5px 10px;
    overflow: hidden;
}
.screenshots-figcaption-h3 {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 0 0;
}

/*Блок №5 Reviews*/
.reviews {
    margin: 50px 0 0 0;
}
.reviews:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.reviews-title {
    display: block;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 45px 0;
}
.reviews-item {
    width: 48%;
    float: left;
}
.reviews-item-userpic {
    width: 75px;
    height: 75px;
    display: block;
    background-color: #445161;
    border-radius: 50%;
    float: left;
}
.reviews-item-content {
    overflow: hidden;
    padding: 0 15px 0 15px;
}
.reviews-item-text {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}

.reviews-item-user a {
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

/*Блок №6 Цены*/
.prices {
    padding: 50px 145px 50px 145px;
}
/*
.prices:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
*/
.prices-title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    display: block;
    text-align: center;
}
.prices-blocks {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.prices-box {
    width: 300px;
    background-color: #445161;
    padding-bottom: 20px;
    border-radius: 10px;
/*    float: left;*/
    margin: 0 15px 0 15px;
}
.prices-box-title {
    display: block;
    text-align: center;
    padding: 16px 0 16px 0;
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}
.prices-box-price {
    display: block;
    text-align: center;
    width: 296px;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 18px 0 18px 0;
    margin: 0 auto;  
}
.prices-box-list {
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}
.prices-box-button {
    font-family: Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-transform: uppercase;
    display: block;
    width: 260px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 23px;
}
/*Блок №7 Подвал*/
.maim-footer {
    width: 100%;
    background-color: #445161;
}
.maim-footer-title {
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}
.maim-footer-button {

}
















































