/*Блок №1*/
.container {
  width: 1280px;
  margin: 0 auto;
  
  font-family: Arial;
}

.padding-site {
  padding: 50px;
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  background-color: #445162;
  
  color: #fff;
}

.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-header-wrp {
  width: 400px;
  float: left;
  
 
}

.main-header-title {
  display: block;
  margin: 0 0 20px 0;
  font-size: 45px;
  font-weight: bold;
  
}

.main-header-list {
  margin: 0;
  padding: 0 0px 0 25px;
  list-style-type: none;
}

.main-header-list li {
  position: relative;
  margin: 0 0 5px 0;
}

.main-header-list li:nth-child(4) {
  margin: 0;
}

.main-header-list li:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  position: absolute;
  top: -1px;
  left: -26px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Light_green_check.svg/768px-Light_green_check.svg.png');
  background-size: cover;
}

.main-header-photo {
  display: block;
  float: right;
  width: 469px;
  height: 214px;
  background-color: #fff;
  box-sizing: border-box;
  color: black;
}
/*Блок №2*/
.about-product {
    width: 100%;
}
.about-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.about-product-title {
  display: block;
  margin: 0 0 24px 0;
  font-size: 30px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.2;
}
.about-product-wrp {
  width: 649px;
  float: left;
}
.about-product-txt-1 {
    margin: 0 0 16px 0;
}
.about-product-txt-2 {
    margin: 0 0 0 0;
}
.about-product-video {
    display: block;
    width: 430px;
    height: 245px;
    background-color: #445161;
    border: 1px solid;
    float: right;
}
/*Блок №3*/
.dignity {
  width: 100%;
  /* height: 300px; */
  padding: 50px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.dignity:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.dignity-title {
  display: block;
  margin: 0 0 24px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.2;
}

.dignity-list {
  width: 540px;
  margin: 0;
  padding: 0 0 0 46px;
  list-style-type: none;
  float: left;
 }

.dignity-list-item {
  margin: 0 0 40px 0;
  position: relative;
}

.dignity-list-item:nth-child(3) {
    margin: 0;
}

.dignity-list-item:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: -46px;
}
/*Блок №4 Скриншоты*/

.screenshots-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.screenshots-h2 {
  display: block;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 30px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.2;
}
.screenshots-figure {
    width: 50%;
    margin: 0 0 15px 0;
}
.screenshots-figure:nth-child(3), .screenshots-figure:nth-child(4) {
    margin: 0;
}

/*
.screenshots-figure:nth-child(2n) {
    margin-top: 10px;
} 
*/

.screenshots-figure-logo {
    display: block;
    background-color: #445161;
    float: left;
    margin-right: 10px;
}
.screenshots-figcaption {
    padding: 0;
    overflow: hidden;
}
.screenshots-figcaption-h3 {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 5px 0;
}

.screenshots-figcaption-content {
    margin: 0;
}

/*Блок №5 Reviews*/
.reviews {
    margin: 0;
}
.reviews:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.reviews-title {
    display: block;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 45px 0;
}
.reviews-item {
    width: 48%;
    float: left;
/*    position: relative;*/
}
/*
.reviews-item:before {
  content: "";
  display: block;
  border: 15px solid transparent; 
  border-right: 15px solid #ccc;
  position: absolute;
  top: 10px;
  left: -30px
}
*/
.reviews-item:nth-child(2), .reviews-item:nth-child(4) {
    margin-right: 15px;
}
.reviews-item:nth-child(4), .reviews-item:nth-child(5) {
    padding-top: 15px;
}

.reviews-item-userpic {
    width: 75px;
    height: 75px;
    display: block;
    background-color: #445161;
    border-radius: 50%;
    float: left;
    margin-right: 18px;
}
.reviews-item-content {
/*    overflow: hidden;*/
    padding: 0 15px 0 20px;
/*    background-color: #ebebeb;*/
    border-radius: 5px;
    position: relative;
    margin-left: 75px;
    }


.reviews-item-content:before {
  content: "";
  display: block;
  border: 15px solid transparent; 
  border-right: 15px solid #ebebeb;
  position: absolute;
  top: 10px;
  left: -10px;
}

.reviews-item-text {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    margin: 0;
    background-color: #ebebeb;
    padding: 15px 0 5px 15px;
}

.reviews-item-user {
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    background-color: #ebebeb;
    display: block;
    padding: 10px 0 5px 15px;
 }

/*Блок №6 Цены*/
.prices {
    padding: 50px 145px 50px 145px;
}
.prices-title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    display: block;
    text-align: center;
    margin-top: 0;
}
.prices-blocks {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.prices-box {
    width: 300px;
    background-color: #445161;
    padding-bottom: 20px;
    border-radius: 10px;
/*    float: left;*/
    margin: 0 15px 0 15px;
}
.prices-box-title {
    display: block;
    text-align: center;
    padding: 16px 0 16px 0;
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}
.prices-box-price {
    display: block;
    text-align: center;
    width: 296px;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 18px 0 18px 0;
    margin: 0 auto;  
}
.prices-box-list {
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    list-style-position: inside;
}
.prices-box-button {
    font-family: Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-transform: uppercase;
    display: block;
    width: 260px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 23px;
    outline: none;
}
.prices-box-button:hover {
    background-color: yellow;
}
.prices-box-button:active {
    background-color: green;
    outline: none;
}
/*Блок №7 Подвал*/


.main-footer {
    background-color: #445161;
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-footer-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 30px 0;
}

.main-footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: 0 46px 0 0;
}

.name, .email, .message {
  width: 100%;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
  text-transform: capitalize;
}
.main-footer-form textarea {
  width: 100%;
  height: 170px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
}
input[placeholder],
textarea[placeholder] {
  text-overflow:ellipsis;
  font-family: Arial;
  color:  #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
.button {
  border-radius: 5px;
  background-color:  #ffffff;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  font-family: Arial;
  color:  #445162;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  outline: none;
}
.button:hover {
    background-color: yellow;
}
.button:active {
    background-color: green;
}

.main-footer-content {
    margin: 0 20px 0 20px;
    width: 240px;
    height: 300px;
}
.main-footer-content-skype, .main-footer-content-icq, .main-footer-content-email, .main-footer-content-phone {
    display: block;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}
.main-footer-content-skype:before{
    content: "\f17e";
    font-family: FontAwesome;
    color: #ffffff;
    margin-right: 10px;
    width: 26px;
    height: 26px;
}

.main-footer-content-email:before {
    content: "\f1fa";
    font-family: FontAwesome;
    color: #ffffff;
    margin-right: 10px;
}

.main-footer-content-phone:before {
    content: "\f095";
    font-family: FontAwesome;
    color: #ffffff;
    margin-right: 10px;
}


.socials {
    margin-top: 30px;
}
.socials-link {
    text-decoration: none;
    color: #ffffff;
}    

.copyright {
    display: block;
    text-align: center;
}





































